.login .auth-card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 60px;
}

.login .auth-card mat-card-header {
    display: flex;
    justify-content: center;
}

.login .auth-card mat-card-content mat-form-field {
    display: block;
    margin-left: 450px;
    margin-right: 450px;
}

.login .auth-card mat-card-actions {
    display: flex;
    justify-content: center;
}

.login .auth-card mat-card-actions .btns-holder {
    width: 200px;
}

.login .auth-card mat-card-actions .btns-holder button {
    display: block;
    text-align: center;
    width: 100%;
    color: #141414;
    background-color: #f9f9f9;
    border-radius: 100px;
    border: 1px solid #f9f9f9;
    margin-bottom: 15px;
    transition: 0.2s;
}

.login .auth-card mat-card-actions .btns-holder button:hover {
    background-color: #141414;
    color: #f9f9f9;
}

.login .auth-card mat-card-actions .btns-holder a {
    text-decoration: underline;
}

.login .auth-card mat-card-actions .btns-holder a:hover {
    text-decoration: none;
}