<mat-toolbar color="primary">
    <span><i class="fa-solid fa-location-dot"></i> iMovie</span>
    <span class="spacer"></span>
    <a routerLink="/" mat-button>
        <i class="fa-solid fa-house"></i>
        <span class="link-name">Home</span>
    </a>
    <a routerLink="/film" mat-button>
        <i class="fa-solid fa-plane"></i>
        <span class="link-name">Film</span>
    </a>
    <form method="GET">
        <input id="search" type="text">
        <input type="submit" routerLink="/pretraga" mat-button value="search">
    </form>
    <a routerLink="/login" mat-button *ngIf="!service.getActiveUser()">
        <i class="fa-solid fa-right-to-bracket"></i>
        <span class="link-name">Login</span>
    </a>
    <a routerLink="/korisnik" mat-button *ngIf="service.getActiveUser()">
        <i class="fa-solid fa-user"></i>
        <span class="link-name">Korisnik</span>
    </a>
    <button mat-button *ngIf="service.getActiveUser()" (click)="doLogout()">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span class="link-name">Logout</span> 
    </button>
</mat-toolbar>

<router-outlet />