<div class="film">
    <div class="container">
        <mat-card *ngIf="movies as movie">
            <div class="movies-card" appearance="outlined">
                <a [routerLink]="['/film/',movie.movieId]">
                    <img mat-card-image [src]="utils.generateMovieImage(movie.poster)" [alt]="movie.poster">
                </a>

                <div class="movie-details">
                    <mat-card-content>
                        <h1>{{movie.title}}</h1>
                        <p *ngIf="ProsecnaOcena(movie.movieId) != 0">Ocena gledalaca: {{utils.round2(ProsecnaOcena(movie.movieId))}}</p>
                        <p *ngIf="ProsecnaOcena(movie.movieId) == 0">Ocena gledalaca: Nema ocena</p>
                        <p>Žanrovi:</p>
                        <ul>
                            <li *ngFor="let genre of movie.movieGenres"> {{genre.genre.name}}</li> 
                        </ul>
                        <br>
                        <p>Glumci:</p>
                        <ul>
                            <li *ngFor="let actor of movie.movieActors"> {{actor.actor.name}}</li> 
                        </ul>
                        <br>
                        <p>Reditelj: {{movie.director.name}}</p>
                        <p>Trajanje filma: {{utils.round(movie.runTime/60)}}h {{utils.leftover(movie.runTime)}}min</p>
                        <p>Datum izlaska: {{utils.formatDate(movie.startDate)}}</p>
                        <br>
                        <p>Datum projekcije:</p>
                        <select [(ngModel)]="userInputDate">
                            <option *ngFor="let date of movie.projectionDate" [value]="date">
                                {{date}} 
                            </option>
                        </select>
                        <p>Vreme projekcije:</p>
                        <select [(ngModel)]="userInputTime">
                            <option *ngFor="let time of movie.projectionTime" [value]="time">
                                {{time}} 
                            </option>
                        </select>
                        <p>Količina karata:</p>
                        <input type="number" [(ngModel)]="userInputCount">
                        
                        <p>
                            <label>
                                Cena karte: {{movie.price}} RSD
                            </label>
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button (click)="utils.Orders(movie, userInputDate, userInputTime, userInputCount)" class="btn">
                            <i class="fa-solid fa-cart-shopping"></i> Rezervišite kartu
                        </a>
                    </mat-card-actions>
                </div>
            </div>
            <mat-card-actions *ngIf="this.status == 'Gledano'" class="rating">
                <label for="select-rating">Unesite ocenu:</label>
                <select id="select-rating" [(ngModel)]="userInputRating">
                    <option value="1">
                        1
                    </option>
                    <option value="2">
                        2
                    </option>
                    <option value="3">
                        3
                    </option>
                    <option value="4">
                        4
                    </option>
                    <option value="5">
                        5
                    </option>
                </select>
   
                <label for="textarea-comment">Unesite komentar</label>
                <textarea id="textarea-comment" [(ngModel)]="userInputComment">

                </textarea>
                <br>
                <a mat-button (click)="PostaviOcenu(movie, userInputRating, userInputComment)" class="btn">
                    <i class="fa-solid fa-cart-shopping"></i> Postavite komentar
                </a>
            </mat-card-actions>
        </mat-card>
        
        <div class="comments">
            <h3>Komentari</h3>
            <mat-list>
                <mat-list-item *ngFor="let comment of userReview" class="comment">
                    <p>Korisnik: {{comment.user}}</p>
                    <p>Ocena: {{comment.rating}}</p>
                    <p>{{comment.comment}}</p>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>