<p>Lirika</p>
<mat-card class="movies-card" appearance="outlined" *ngIf="movies as movie">
        <a [routerLink]="['/film/',movie.movieId]"><img mat-card-image [src]="utils.generateMovieImage(movie.poster)" [alt]="movie.poster"></a>
        <mat-card-content>
            <h1>{{movie.title}}</h1>
            <p>Naziv filma: {{movie.title}}</p>
            <p>Žanrovi:</p>
            <ul>
                <li *ngFor="let genre of movie.movieGenres"> {{genre.genre.name}}</li> 
            </ul>
            <br>
            <p>Glumci:</p>
            <ul>
                <li *ngFor="let actor of movie.movieActors"> {{actor.actor.name}}</li> 
            </ul>
            <br>
            <p>Reditelj: {{movie.director.name}}</p>
            <p>Trajanje filma: {{utils.round(movie.runTime/60)}}h {{utils.leftover(movie.runTime)}}min</p>
            <p>Datum izlaska: {{utils.formatDate(movie.startDate)}}</p>
            <p>Ocena gledalaca: {{utils.round2(ProsecnaOcena())}}</p>
            <br>
            <p>Datum projekcije:</p>
            <select [(ngModel)]="userInputDate">
                <option *ngFor="let date of movie.projectionDate" [value]="date">
                    {{date}} 
                </option>
            </select>
            <p>Vreme projekcije:</p>
            <select [(ngModel)]=" userInputTime">
                <option *ngFor="let time of movie.projectionTime" [value]="time">
                    {{time}} 
                </option>
            </select>
            
            <p>
                <label>
                    Cena karte: {{movie.price}} RSD
                </label>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button (click)="utils.Orders(movie, userInputDate, userInputTime)">
                <i class="fa-solid fa-cart-shopping"></i> Rezervišite kartu
            </a>
        </mat-card-actions>
        <mat-card-actions *ngIf="this.status == 'Gledano'">
            <select [(ngModel)]="userInputRating">
                <option value="1">
                    1
                </option>
                <option value="2">
                    2
                </option>
                <option value="3">
                    3
                </option>
                <option value="4">
                    4
                </option>
                <option value="5">
                    5
                </option>
            </select>
            <br>
            <textarea [(ngModel)]="userInputComment">

            </textarea>
            <br>
            <a mat-button (click)="PostaviOcenu(movie, userInputRating, userInputComment)">
                <i class="fa-solid fa-cart-shopping"></i> Postavite komentar
            </a>
        </mat-card-actions>
        
        
        <h3>Komentari</h3>
        <mat-list>
            <mat-list-item *ngFor="let comment of userReview">
                {{comment.user}}
                Ocena: {{comment.rating}}<br>
                {{comment.comment}}
            </mat-list-item>
        </mat-list>
        
    </mat-card> 